<dl class="as-show">
  <div>
    <dt><%= Space::Room.human_attribute_name(:name) %></dt>
    <dd><%= @room.name %></dd>
  </div>
  <div>
    <dt><%= Space::Room.human_attribute_name(:code) %></dt>
    <dd><%= @room.code %></dd>
  </div>
</dl>
