<div data-controller="menu" class="<%= role_permit?(business: 'space', namespace: 'admin') ? 'menu ex-accordion is-active' : 'display-none' %>">
  <div class="menu-label">
    <div>
      <i class="fa-solid fa-fw fa-building"></i>
      <span><%= t('space.admin.title') %></span>
    </div>
  </div>
  <div class="menu-list">
    <%= link_to t('space.admin.stations.index.title'), { controller: 'space/admin/stations' }, class: active_helper(controllers: ['stations', 'buildings', 'rooms', 'grids'], active: 'is-active') %>
  </div>
</div>
