<div class="<%= active_helper(modules: ['space/admin'], active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu empty">
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-fw fa-shopping-cart"></i>
    <span><%= t('space.admin.title') %></span>
    <i class="fa-solid dropdown"></i>
  </a>
  <div class="menu-list">
    <%= link_to t('space.admin.stations.index.title'), { controller: 'space/admin/stations' }, class: active_helper(controllers: ['stations', 'buildings', 'rooms', 'grids'], active: 'is-active') %>
  </div>
</div>
