<div id="tr_<%= model.id %>" class="media is-boxed">
  <div class="media-content">
    <%= yield %>
  </div>
  <div class="media-right">
    <%= link_to({ controller: 'factory/agent/productions', desk_id: model.id }, class: 'button') do %>
      <span>点餐</span>
    <% end %>
    <%= link_to({ controller: 'trade/admin/items', desk_id: model.id }, class: 'button') do %>
      <span>查看订单</span>
    <% end %>
  </div>
</div>
