<div class="card is-middle">
  <div class="card-content">
    <p class="text-centered"><%= model.name %></p>
  </div>
  <div class="card-footer">
    <%= link_to({ controller: 'factory/agent/productions', desk_id: model.id }, class: 'card-footer-item') do %>
      <span>点餐</span>
    <% end %>
    <%= link_to({ controller: 'trade/admin/items', action: 'desk', desk_id: model.id }, class: 'card-footer-item') do %>
      <span>查看订单</span>
      <span><%= @item_hash[model.id] %></span>
    <% end %>
  </div>
</div>


