<%= link_to({ action: 'show', room_id: model.room_id, station_id: model.room.station_id, id: model.id }, class: 'cell button is-fullwidth flex-direction-column') do %>
  <span><%= @item_hash[model.id] %></span>
  <span><%= model.name %></span>
<% end %>
