<div>
  <dt><%= Space::Building.human_attribute_name(:name) %></dt>
  <dd><%= @building.name %></dd>
</div>
<div>
  <dt><%= Space::Building.human_attribute_name(:code) %></dt>
  <dd><%= @building.code %></dd>
</div>
