<tr>
  <td class="has-text-right"><%= Space::Building.human_attribute_name(:name) %></td>
  <td><%= @building.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Space::Building.human_attribute_name(:code) %></td>
  <td><%= @building.code %></td>
</tr>
