<div class="weui-panel">
  <div class="weui-panel__hd">货架</div>
  <div class="weui-panel__bd">
    <%= render 'grid' %>
  </div>
  <div class="weui-panel__ft py-2">
    <%= render 'buttons' %>
  </div>
</div>
