<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('space.admin.stations.index.title'), { controller: 'stations' } %></li>
    <li><span class="px-3"><%= @station.name %></span></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
