<div class="media">
  <div class="media-content">
    <span class="weui-media-box__title"><%= model.name %></span>
    <span class="weui-media-box__desc">
      <span><%= model.code %></span>
    </span>
  </div>
  <%= link_to({ controller: '/factory/productions', desk_id: model.id }, state: 'clear', class: 'weui-media-box__ft pr-4') do %>
    <p>去下单</p>
  <% end %>
</div>
