<%= render 'index_bar' %>

<div class="cards is-4">
  <%= render partial: 'index_column', collection: @desks, as: :model %>
</div>

<%= turbo_stream_from "desk_count_#{current_organ.id}" %>

<%= paginate @desks %>
