<%= render 'index_bar' %>
<%= render 'index_actions' %>

<div class="section">
  <div class="cards is-4">
    <%= render partial: 'index_column', collection: @desks, as: :model %>
  </div>
</div>

<%= paginate @desks %>
